*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    
}
:root{
    font-size: 62.5%;
    --primary-color:#C2F578;
    --comman-padding:0 8vw;
    --primary-text-color:#000
    
}
@media(max-width: 768px) {
    html{
        font-size: 45%;
    }
    header{
        margin-left: -12%;
        
    }
    .heading1{
        text-align: center;
    }
    .classiq-img,.mini-img2,.mini-img svg,.line svg,.main3 svg{
        display: none;
       
    
    }
    main{
        font-size: 10vh;
        align-items: center;
        text-align: center;
    }
    .sol-text{
        font-size: -4%;
    }
    .main-button{
       width: 2em;
       
    }
    
    .cources{
       flex-direction: column;
    }
    footer{
        flex-wrap: wrap;
        align-items: center;
        padding-left: 30px;
        
    }
    .footer-logo{
        justify-content: left;
        margin-left: 10%;
    }
    .footer-text1 h3,.footer-text2 h3{
        font-size:-2rem ;
    }
    .certified{
        font-size: 1.1rem;
        flex-wrap: wrap;
    }
    .cources-child img{
        height: 20rem;
        width: 30rem;
    }
    .sol-img img{
        margin-left: -8%;
        gap: 5%;
    }
    .main-footer{
        flex-direction: column;
    }
    form input{
        height: 7vh;
        width: 25vw;
    }
    .cource-main{
        text-align: center;
    }
    
    
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: var(--comman-padding);
} 
.header-left{
    
    display: flex;
    align-items: center;
   
}
.header-left a{
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .1rem;
    margin: 3rem;
}
.logo{
    font-size: 4rem;
    font-weight: bolder;
}
.header-left,.cource{
    color: rgb(86, 82, 82);
    font-size: 1.5rem;
    
}
button{
    width: 5rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: .4rem;
    height: 3.5rem;
    margin: 1.0rem;
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
    gap:13.0rem;
    padding: var(--comman-padding);
    padding-left: 12vw;
    margin-bottom: 16 vh;
    margin-top: 35px;
}
.classiq-img{
    height: 575px;
    width: 459px;
}
.main-left{
    margin-top: 9vh;
}

.heading1{
    font-size: 6.5rem;
    font-weight: lighter;
    color: black  ;
    font-family: Arial, Helvetica, sans-serif;
}
.heading2{
    position: relative;
    font-weight: bolder;
   
}
.line{
    position: absolute;
    top: 33px;
    left: -50px;
}
.main-info{
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
.main-button{
    width: 13rem;
    background-color: #C2F578;
    color: var(--primary-text-color);
    margin-top: 3vh;
   
}
.main-right{
    margin-top: -4vh;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    background: radial-gradient(
        circle,
        var(--primary-color) 0%,
        rgba(148, 187, 233, 0) 70%
      )
   
}

.mini-img{
    position: absolute;
    left: -3vw;
    top: 15vh;
}
.mini-img2{
    position: absolute;
    top: 18vh;
    right: 7vw;
    height: 30px;
    width: 30px;
}

.main2{
    text-align: center;
    padding: var(--comman-padding);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(123, 120, 120);
    font-weight: bold;
    margin-top: 9vh;
}
.main3{
    padding: var(--comman-padding);
   margin: 10px;
   margin-bottom: 2vh;
}
svg{
   
    margin: 35px;
}
.certified{
    padding: var(--comman-padding);
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 4vh;
}
.certified-heading{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size:2.2rem;
}
.mini-text{
    font-weight: bolder;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;

}
.cources    {
    display: flex;
    justify-content: center;
    gap: 11vw;
    padding: var(--comman-padding);
    margin-top: 9vh;
}
.cources-child{
    text-align: center;
}
.cources-child,p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.cource-button{
    background-color:#C2F578;
    width: 11rem;
    border-radius: 7px;
    color: black;
}
.solution{
    display: flex;
    justify-content: center;
    margin-top: 11vh;
    padding: var(--comman-padding);
    gap: 9vw;
}
.sol-text{
   padding: 3px;
   margin: 20px;

}
.solution,h2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 40px;
    color: black;
}
.solution,p{
    color: gray;
    font-size: 13px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.sol-button{
    background-color:#C2F578;
    width: 8rem;
    border-radius: 7px;
    color: black;

}
footer{
    display: flex;
    justify-content: center;
    padding: var(--comman-padding);
    gap: 11vw;
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: -18vw;
    color: black;
    margin-left: -35px;

}

.footer-logo{
    font-size: 4vh;
    font-weight: bolder;
}

.footer-logo,p{
    padding-left: -20vw;
}
.footer-input{
    display: flex;
    padding-top: 16px;
    
}
.footer-button{
    background-color: #C2F578;
    color: black;
    height: 3rem;
    width: 10rem;
    margin-top: 1vh;
}
.footer-input-text{
    height: 3rem;
    width: 21rem;
    margin-top: 1vh;
}
.footer-text1{
    width: 200px;
}
.footer-text1 h3{
    font-weight: bolder;
    font-size: 2rem;
}
.footer-text2 h3{
    font-weight: bolder;
    font-size: 2rem;
}
form{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 2vh;
    margin-top: 15vh;
    background-color: rgb(241, 232, 232);
    height: 300px;
    
}    
form input{
    width: 27rem;
    height: 4rem;
}
.form-button{
    width: 27rem;
    background-color: #C2F578;
    color: black;
    height: 4rem;
}
.main-footer{
    display: flex;
   padding: var(--comman-padding);
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding-bottom: 3vh;
    padding-top: 2px;
}
.footer-main-img{
    height: 2vh;
    width: 2vw;
    background-color: #C2F578;
    border-radius: 4px;
    
}
.footer-main-img{
    height: 30px;
    width: 30px;
    background-color: #C2F578;
    position: relative;
}
.footer-main-img2{
    position: absolute;
    top: -3.4vh;
    left: -1.7vw;
}
.footer-main-icon{
    display: flex;
    gap: 6px;
}
.cource-name{
    padding: var(--comman-padding);
}

.cource-main{
    padding: var(--comman-padding);
    

}
.cource-name{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: -50px;

}
.cource-arrow{
    position: absolute;
    top: -27px;
   
}
.cources-img{
    
    display: flex;
    
    flex-wrap: wrap;
    gap: 82px;
    padding-left: 100px;
}
.cources-img1{
    width: 300px;
}
.cource-img1,img{
    height: 200px;
    width: 300px;
}
.cource-button2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.cource-button2,div{
    font-weight: bolder;
}
.cource-enrol{
    background-color: #C2F578;
    width: 85px;
    color: black;
    
    
}
.cource-enrol:hover{
    background-color:green;
   
}


.main-div1{
    background-color: #fff;
}







